absl-py==1.0.0
astunparse==1.6.3
cached-property==1.5.2
cachetools==5.0.0
cchardet==2.1.7
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
cycler==0.11.0
fastprogress==1.0.2
filelock==3.4.2
flatbuffers==2.0
fonttools==4.29.1
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.6.0
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.10.0
jieba==0.42.1
keras==2.8.0
keras-bert==0.89.0
keras-embed-sim==0.10.0
keras-layer-normalization==0.16.0
keras-multi-head==0.29.0
keras-pos-embd==0.13.0
keras-position-wise-feed-forward==0.8.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.51.0
keras-transformer==0.40.0
kiwisolver==1.3.2
ktrain==0.29.2
langdetect==1.0.9
libclang==13.0.0
Markdown==3.3.6
matplotlib==3.5.1
mkl-fft==1.3.1
mkl-service==2.4.0
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
Pillow==9.0.1
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
regex==2021.11.10
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
sacremoses==0.0.47
scikit-learn==0.24.2
scipy==1.7.3
sentencepiece==0.1.96
seqeval==0.0.19
syntok==1.3.3
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
tokenizers==0.10.3
torch==1.8.0
transformers==4.10.3
urllib3==1.26.8
Werkzeug==2.0.3
Whoosh==2.7.4
wrapt==1.13.3
zipp==3.7.0
